{% extends "base.html" %}{% block title%}Domů{% endblock %}
{% block content %}

<div class="container mt-4">
    {% if session.role == 'teacher' %}
    <div class="jumbotron">
        <h1 class="display-4">Vítejte v aplikaci na anonymní zpětnou vazbu.</h1>
        <p class="lead">Tato aplikace vám umožní definovat otázky, na které chcete od studentů získat zpětnou vazbu. 
            Žáci budou moci anonymně přidávat odpovědi na tyto otázky. Dále budete mít možnost procházet anketní otázky a studentské odpovědi z minulých let.</p>
        <hr class="my-4">
    </div>
    {% endif %}
    {% if session.role == 'student' %}
    <div class="jumbotron">
        <h1 class="display-4">Vítej v aplikaci na anonymní zpětnou vazbu.</h1>
        <p class="lead">Tato aplikace ti umožní poskytovat učitelům zpětnou vazbu.</p>
        <hr class="my-4">
    </div>
    {% endif %}
</div>
{% endblock %}
