{% extends "mybase.html" %}
{% block title %} Aktivní otázky {% endblock %}
{% block content %}
    <h1>Aktivní otázky</h1>
    {% if session.role == 'student' %}
    <form action="#" method="POST" name="Enter">
        {% for question in questions %}
        <label for="answer{{ question[0]}}"> <b>Akademický rok: </b> {{ question[3] }} Předmět: {{ question[4] }} Vyučující: {{ question[0] }} Otázka {{ question[1] }}</label>
        <textarea class="form-control" id="{{ question[0] }}" name="{{ question[0] }}" rows="3" required></textarea>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Potvrď otázky</button>
    </form>
    <!--<form action="#" method="POST" name="Erase">
        <button type="submit" class="btn btn-primary">Smaž všechny poskytnuté otázky</button>
    </form>   -->
    {% else %}
    <ul>
        {% for question in questions %}
        <li>{{ question.text }}</li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock %}